body {
    height: 100vh;
    background: #fef2ca;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bola {
    width: 100px;
    height: 100px;
    background-color: #877ffa;
    background-image: url();
    border-radius: 50%;
    border: 10px solid #5198fc;
    cursor:pointer;
    
}
.bola:hover {
    background-color: #e84393;
    border-color: rgba(0,0,0,.1);    
    
}